{% extends "classifier/_partials/_base.html" %}
{% load static %}

{% block content %}

    <h1 class="p-2 text-center text-secondary">Deep Learning</h1>


    <div class="row">
        {# formulario para crear imagen #}
        <div class="col-md-6 col-12">
            <h5 class="mt-5">Generar Imagen de Número</h5>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Generar Imagen</button>
            </form>
        </div>

        {# Resultados luego de crear la imagen #}
        <div class="col-md-6 col-12">
            {% if success_message %}
                <div class="alert alert-success">{{ success_message }}</div>
            {% endif %}
            {% if error_message %}
                <div class="alert alert-danger">{{ error_message }}</div>
            {% endif %}
        </div>
    </div>




{% endblock %}