{% extends "classifier/_partials/_base.html" %}
{% load static %}

{% block content %}

    <h1 class="p-2 text-center text-secondary">Deep Learning</h1>

    <div class="row">

        <div class="col-md-6 col-12">
            <h5 class="mt-5">Clasificador de Imagenes numericas</h5>

            {#Todo formulario de carga de imagen #}
            <form method="POST" class="mt-3" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="form_image" class="form-label text-secondary">Imagen</label>
                    {{ form.image }}
                </div>

                {% if error %}
                    <p class="smal text-danger">{{ error }}</p>
                {% endif %}

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success mt-3 px-5" name="upload_image">Clasificar</button>
                </div>

            </form>

            {#Todo vista previa de la image subida #}
            {% if uploaded_image %}
                <div class="py-3 d-flex justify-content-center">
                    <img src="data:image/png;base64,{{ uploaded_image }}" alt="Imagen subida"
                         style="max-width: 150px; height: auto;" class="img-fluid">
                </div>
            {% endif %}
        </div>

        {#Todo Resultados luego de analizar al imagen #}
        <div class="col-md-6 col-12">
            {% if prediction %}
                <h6 class="mt-5 text-primary text-center">Resultado: {{ prediction }}</h6>
            {% endif %}
        </div>
    </div>

{% endblock %}